.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Высота страницы */
  background-color: #364696; /* Цвет фона */
  color: #fff; /* Цвет текста */
}

.logger {
  border: 6px solid white; /* Исправление: заменяем запятую на слово "solid" */
  border-radius: 4px;
  padding: 40px;
 
}

.login-page h1 {
  margin-bottom: 20px; /* Отступ снизу */
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Ширина формы */
}

.login-page input {
  padding: 10px; /* Отступ внутри input */
  margin-bottom: 15px; /* Отступ снизу */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругляем углы */
}

.login-page input[type="submit"] {
  background-color: #fff; /* Цвет фона кнопки */
  color: #364696; /* Цвет текста кнопки */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругляем углы */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
}

.login-page input[type="submit"]:hover {
  background-color: #ccc; /* Цвет фона кнопки при наведении */
}
.button-log {
  border: 1px solid white; /* Указываем тип границы и цвет */
  margin-left: -2px;
  margin-top: 5px;
  text-decoration: none;
}

.nolink{
  text-decoration: none;
  color: #fff;
}
